<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>WebP</title>
        <input-field type="bool">
            <name>enable</name>
            <label>Enable WebP in Storefront</label>
            <label lang="de-DE">Enable WebP in Storefront</label>
        </input-field>
    </card>
</config>
